p, #first-li {
    font-size: 1.5em;
    color: blueviolet;
}
p.second-tag {
    color: red;
}
.second-tag {
    color: blue;
    font-size: 16px;
}
h2,li {
    color: green !important;
}

li:hover {
   color: red;
    cursor: pointer;
}
